.pagination {
    flex: 8;
    display: flex; 
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  
  .pagination button {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    cursor: pointer;
  }
  
  .pagination button.active {
    background-color: #F29727;
    color: white;
    border: 1px solid #F29727;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}
  
  .pagination button:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .pagination button:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  @media only screen and (max-width: 700px) {
    .inactive{
      display: none;
    }
  }