.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}


.popup-content {
    background-image: url("../../../public/formbgc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    text-align: center;
    color: #0E2954;
}

.popup-header{
    display: flex;
    
}

.popup-header h2{
    flex: 9.9;
}
.closeIcon{
    flex: 0.1;
    cursor: pointer;
}
.popup-content form {
    display: flex;

    flex-direction: column;

}

.field {
    width: 90%;
    border: none;
    border-bottom: 2px solid #0E2954;
    position: relative;
    background-color: rgb(240, 209, 236, 0.3);
    transition: 0.3s all;
    color: #0E2954;
    padding: 10px;
}

.field:focus {
    outline: none;
}

.field:hover {
    background-color: rgb(225, 163, 216, 0.3);
}


#title input {
    height: 20px;
}

#tagline input {
    height: 20px;
}

.saveBtn {
    background-color: #F29727;
    font-weight: bold;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
}